<h1>{{name}}</h1>
<div>
  Username: {{username}}<br>
  Email: {{email}}<br>
  Address:<br>
  {{address}}<br>
  {{address.street}}<br>
  {{address.suite}}<br>
  {{address.city}}, {{address.zipcode}}<br>
  Phone: {{phone}},
  Website: {{website}}
</div>
